@model KatanaMUD.Models.Actor
@{
    ViewBag.Title = "Edit Stats";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.PageClass = "EditStats";
    bool isNew = (bool)ViewBag.IsNew;
}


<script src="~/scripts/statedit.js"></script>

<h3>Edit Stats</h3>

@using (Html.BeginForm("EditStats", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
{
    <div>
        <label for="Name">Given Name</label>
        @if (isNew)
        {
            @Html.TextBoxFor(x => x.Name)
        }
        else
        {
            @Html.HiddenFor(x => x.Name);
            <input type="text" disabled value="@Model.Name" />
        }
    </div>
    <div>
        <label for="Surname">Family Name</label>
        @Html.TextBoxFor(x => x.Surname)
    </div>
    <div>
        <label for="Race">Race</label>
        <input type="hidden" name="RaceTemplateId" value="@Model.RaceTemplate.Id" />
        <input type="text" disabled value="@Model.RaceTemplate.Name" />
    </div>
    <div>
        <label for="Class">Class</label>
        <input type="hidden" name="ClassTemplateId" value="@Model.ClassTemplate.Id" />
        <input type="text" disabled value="@Model.ClassTemplate.Name" />
    </div>
    <div>
        <label for="CPS">CP's</label>
        <input type="hidden" id="initialcps" value="@Model.CharacterPoints" />
        <input type="text" id="cps" disabled value="@Model.CharacterPoints" />
    </div>


    <div class="stat-area">
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Strength, Model.RaceTemplate.Stats.StrengthCap, Model.Stats.Strength, "Strength");}
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Intellect, Model.RaceTemplate.Stats.IntellectCap, Model.Stats.Intellect, "Intellect"); }
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Willpower, Model.RaceTemplate.Stats.WillpowerCap, Model.Stats.Willpower, "Willpower"); }
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Agility, Model.RaceTemplate.Stats.AgilityCap, Model.Stats.Agility, "Agility"); }
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Health, Model.RaceTemplate.Stats.HealthCap, Model.Stats.Health, "Health"); }
        @{KatanaMUD.Controllers.HomeController.EditControl(this.Html, Model.RaceTemplate.Stats.Charm, Model.RaceTemplate.Stats.CharmCap, Model.Stats.Charm, "Charm"); }
    </div>
    <input type="submit" value="Next" />
}